<h1>Listing users</h1>
Notice:<%= @notice =%>
Token:<%= @token =%>
<table>
  <tr>
    <th>Twitter Handle</th>
    <th>Twitter ID</th>
		<th>Twitter IMage</th>
    <th>Twitter Linked?</th>
    <th>Twitter Secret</th>
    <th>Twitter Token</th>
		<th>Facebook Linked?</th>
		<th>Facebook Token</th>
		<th>Last Post</th>
		<th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.tw_handle %></td>
    <td><%= user.tw_id %></td>
    <td><%= user.tw_img %></td>
    <td><%= user.tw_linked %></td>
		<td><%= user.tw_secret %></td>
		<td><%= user.tw_token %></td>
		<td><%= user.fb_linked %></td>
		<td><%= user.fb_token %></td>
		<td><%= user.last_post %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
