<h1>Listing users</h1>

<table>
  <tr>
    <th>Twitterhandle</th>
    <th>Twitterid</th>
    <th>Linkats</th>
    <th>Linkhashes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.twitterhandle %></td>
    <td><%= user.twitterid %></td>
    <td><%= user.linkats %></td>
    <td><%= user.linkhashes %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
