<p id="notice"><%= notice %></p>

<p>
  <b>Twitterid:</b>
  <%= @post.twitterid %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Handled:</b>
  <%= @post.handled %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
